<div id="page-0" class="page" data-page="0">
	<h2>Welcome to FUMail</h2>
	<div class="column-2">
		<h3>Send an anonymous, mean letter to some ass hole.</h3>
		<p>Your "friend" can even respond</p>
		{{#link-to 'message' class="button"}} Send FU Mail {{/link-to}}
	</div>
	<div class="column-2">
		<h3>I received a letter from FUMail</h3>
		<p>Now What?</p>
		{{#link-to 'wtf' class="button"}} WTF {{/link-to}}
	</div>
	{{envelope-display large=false step='send'}}
</div>
<div class="next">

</div>
